This Lesson is presented using a popular tool in python called Ipython notebooks/ Juypter notebooks. They allow you to run scripts of any size in individual cells and output the results without having to run an entire large script. To run the code examples in this lesson press shift + enter or click on a cell and press the play button that appears.

# **Intro Python Programming**

>Programming revolves around the storing, manipulation and displaying of data. So let's start with the most basic principle: storing data. In programming, data is stored in what is called a "variable". A variable declares a space in memory where you can store data. You can think of a variable as a named box that can hold various types of data. In python you declare a variable like so:

> `<variable_name> = <expr>`

In [0]:

i_am_a_variable = 123

There are rules to what a variable can be named:

*   It must begin with a letter or an underscore (though underscores are generally reserved for special use cases but this is only convention and not enforced programmatically)
*   They are case sensitive
* They cannot be python keywords or built-in function names. To get a list of those names you can run the following code:

**Do not worry about everything that is going on here right now we will cover all of it shortly just know that these are some of the built-in ways to check for words you can and cannot use in python variable names.

In [0]:
# try and run these cells by pressing shift + enter
import keyword
keyword.kwlist

In [0]:
# To check if a specefic word is a key word
keyword.iskeyword('as')

In [0]:
import builtins
dir(builtins)

>>What's going on with those hashmarks?
>>> The hashmarks are comments in python. Comments are ignored by the python interpreter and therefore only show up in your code. Multiline comments are done with triple qutoes:

                                                  ```
                                                  '''
                                                  Im a
                                                  multiline
                                                  comment
                                                  '''
                                                  ```
                                                  
>>>Comments are a good way to leave other developers and yourself notes about how your code works.

**Valid Variable Examples:**

In [0]:
variable = "Foo"
camelCaseVariable = 2020
snake_case_variable = "Sneks"
IM_CONSTANT = "I am not supposed to change"
thisworks = "but is not readable"
THISALSOWORKS = "still not a good idea though"

**Invaild Variable Examples:**

>Invalid variable names will raise errors and most modern IDE's (Integrated Development Environment) will warn you before you run your program

In [0]:
as = 1

In [0]:
1TooMany = 1000

In [0]:
no-kebob-here = "You put the lime in the coconut"

Built-in function names are actually just variable names so if you try to assign a value to them they will not throw an error since that is technically a valid thing to do with a variable. But this will have unintended consequences as you will see below. Do not worry if you are not sure what a function is we will cover that later on but for this example know that the sum function takes a list of numbers and returns their sum.

In [0]:
some_variable = [8,8]
sum(some_variable)

16

In [0]:
sum = 5 + 5
print(sum)

In [0]:
# the sum function has now been repalced with the number 16 and no longer works as intended
sum(some_variable)

>As you can see a Type Error is thrown. But what is a type error? 

>> In programming, data can have different types and most high-level programming languages such as Python and Java will have similar data types. In Python you can have the following types:

> **Numbers**
>> [Numbers](https://docs.python.org/3/library/stdtypes.html#numeric-types-int-float-complex) can have a couple different types

In [0]:
a = 10 # a signed integer
b = 10.0 # a floating point number which is also called a float or a decimal
c = 12.1j #or complex(12.1)

> **Strings**

In [0]:
d = "I am string"
e = 'Im also string'

>**Boolean values**
>> Boolean (bool) values are either true or false and are case sensitive.

In [0]:
f = True
g = False
#h = false # this is not a bool value
0 == False
1 == True

True

>>Boolean values can be used to create logical statements within your code. They can be used in Boolean operations and comparisons.

In [0]:
x = 6
y = 10
x < y

True

In [0]:
x > y

False

Python is a dynamically typed language which allows the same variable to hold different types of data. This can get a little confusing in large programs where variables may switch types at some point. One way we can check what type a variable is by using the `type()` function:

In [0]:
type(x)

int

In [0]:
type(d)

str

In [0]:
type(a)

int

In [0]:
type(c)

complex

> Above we can see what we are using greater than and less than symbols to do some comparison. There are a handful of useful comparators in Python.

In [0]:
# greater than equal to/ less than equal to
10 <= 10

True

In [0]:
# a equal to

12 == 12

True

In [0]:
# not equal to

5 != 7

True

> It should be noted that an error will be raised if you try to compare two data types that are not the same with an exception when comparing ints and floats

In [0]:
5 > "hello"

TypeError: ignored

In [0]:
5 < 5.1

True

**Functions**
> Functions are the building blocks of a program. They are pieces of reusable code. We have already seen a couple different functions already: `dir()`, `sum()` and `type()`. Functions take in some data, perform some computations and return the data to be used elsewhere. Functions are declared using the `def` keyword which is short for, you guessed it, define. `def` is followed by the function name, parentheses and a colon

>> `def <function_name>():`

> In python whitespace defines what pieces of code belong to what function. This is called scope. In other programming languages such as Java, the scope is defined using curly brackets. Variables declared within a certain scope are only available in that scope unless they are "returned" out of that scope or are explicitly marked as being part of the global scope. Let us look at some examples of both functions and scope.

In [0]:
def i_am_a_simple_function():
  print("I am function inside a function")
  
i_am_a_simple_function() # this called a function call

I am function inside a function

In [0]:
def add_somethings():
  z = 4+4
  print(z)
  
add_somethings()

8

> In the function above z is declared within the scope of the add_somethings function. If we try to access z outside the scope of the function we get an error `NameError: name 'z' is not defined` since z does not exist in the outer scope. 

> Also in the above function we used a function called `print()`. The print function takes a variable or piece of data such as a string and prints the value to console so that users can read it. If we were running these examples in a python script we would not see any of the outputs without print statements but since we are using juypter notebooks it prints the values in most cases for us as a convenience.

In [0]:
z

NameError: ignored

> There are two ways to get your data from your function scope to the outside scope. You can use a `return` statement which will "return" your data back to the outside scope or you mark your variable with the `global` keyword.

In [0]:
def lets_return():
  pandas = "Funny black and white bears"
  return pandas

lets_return()

'Funny black and white bears'

> You can store returned values in variables. If you do not store the value or assign it for use someplace the returned value will be lost.

In [0]:
lets_return() # prints the value but since the value is not stored anywhere is can not be accessed for later use.
print(pandas)

'Funny black and white bears'

In [0]:
pandas = lets_return()
print(pandas)

Funny black and white bears

In [0]:

def global_superstar():
  global im_everywhere # a variable can not be intialized and declared global at the same time
  im_everywhere = 20
  
global_superstar()
print(im_everywhere)

20

> We can input data from the outside scope to use in a function by declaring function parameters inside of the parentheses. Function parameters are basically variable declarations that are available inside the function scope.

In [0]:
def lets_consume_data(tasty_snack):
  print(tasty_snack)
  
lets_consume_data("Strings are very low carb")
lets_consume_data(125015)
lets_consume_data(pandas)

Strings are very low carb
125015

In [0]:
def i_love_params(first, second, third, fourth):
  # demostrates different types of string concatenation
  all_parts = first + second
  all_parts += third
  all_parts += fourth
  print(all_parts)
  
i_love_params("I will ", "be one gai", "nt sentence made from\n", " smaller chunks")
i_love_params(15, 10, 30, 20)

I will be one gaint sentence made from
 smaller chunks
75

> What if you do not pass an argument in when a function expects one?

In [0]:
i_love_params("I will ", "nt sentence made from", " smaller chunks")

TypeError: ignored

> A TypeError will be thrown letting you know that you are missing an argument. What about if you want the program to run regardless of what is passed in? You can use default values for your arguments.

In [0]:
def i_will_still_work(a=12, b=12, c=10):
  super_cool_value = (a+c) / b
  return super_cool_value

i_will_still_work(a=8, c=100)

9.0

In [0]:
i_will_still_work(8,100) # if you do not specify what the parameter the values belong to they will default to the order they are defined in

0.18

In [0]:
i_will_still_work()

1.8333333333333333

**Data Structures**
> Now that you know the basics of variables and how functions work, let's talk about the different ways to store collections of data or variables. Working with one or two variables is not very useful when it comes to data analysis. We often have thousands if not millions of data points that we need to work with and if we had to assign each one of those into a variable we would never get anything done and our fingers would hurt from typing. Python comes with a bunch of built-in data structures that allow us to work with collections of data as large as our system can handle. 

>**List**
>> List is one of the most common data structures that you will see in Python. A list is exactly what it sounds like, a list of data points. Lists are denoted by the use of square brackets `[]`.  You can declare them empty or containing data like so:

In [0]:
im_an_empty_list = []
im_a_list_of_numbers = [1,2,3,4,5,6,8,9,10]

>List are mutable, have persistent order and usually homogeneous. That maybe be a short sentence but there is a lot going so let's break it down.

> List are mutable meaning that they can be updated and changed. You can think of something that is mutable as being able to mutate.

In [0]:
some_list = [100, 12, 4]
some_list.append(500)
print(some_list)
some_list.pop(1)
print(some_list)

[100, 12, 4, 500]
[100, 4, 500]

> List have persistent ordering meaning that an item can be accessed using the same index as long as the list has not been changed.
> Lists by default do not stop you from mixing data types within it but in practice, this usually does not make sense to do since you can not generally do the same operations on different data types.

>In the example above `some_list.append(500)`, the `.append()` portion is what is called a method. A method is a function that belongs to a class and performs actions on that class. We will not be covering object-oriented programming and writing classes in depth in this workshop but we will cover what they are and how you interact with them since you will encounter them everywhere. A class is a blueprint for an object. It defines a set of methods and properties that are common to all objects of the same type. Objects are literally everywhere in programming. We have already encountered a couple of classes in this tutorial. [List](https://docs.python.org/3/library/stdtypes.html#sequence-types-list-tuple-range) is an example of a class. Classes are not objects. This may sound confusing so let's try out an analogy. You can think of a class as a recipe. The recipe includes all the ingredients and instructions on how fast to mix the batter and how long to bake it but it is not yet a physical cake just instructions. Once you mix all the ingredients and bake the cake then you have an actual object,  cake. The main thing to remember about classes and objects right now is that they have their own functions called methods.

In [0]:
some_list.sort()
print(some_list)

[4, 12, 100, 500]

> **Tuples**
>> A tuple is very similar to a list with the main difference being that a tuple is immutable meaning that they cannot be mutated. Tuples are denoted by the use of parentheses `()`. Tuples can be instantiated in two ways:

In [0]:
im_an_empty_tuple = ()
look_no_paraenthesis = 1,2,3,4
some_tuple = (1,2,3,5)

> A note on naming sequence data types. It is good practice to name your list or tuples the plural representation of what the data represents. For instance, if you had a list of city names it would make sense to name your list names or better yet city_names.

> **Common list and tuple operations**
>> List and tuples fall under the branch of types called Sequence Types. These types have common operations that can be used on any of the sequence types. Here are some of the common ones:

>> Getting a value by index. In Python, sequence indexing is 0 based.

In [0]:
print(some_tuple[0])
print(some_list[3])

1
500

>> Checking if a value is in or not in a dataset

In [0]:
12 in some_tuple

False

In [0]:
3 in some_tuple

True

>> Length of dataset

In [0]:
len(some_list)

4

>> The Min and Max of a dataset

In [0]:
print(min(some_tuple))

1

In [0]:
print(max(some_list))

500

> A complete list of the built-in common sequence operations can be found [here](https://docs.python.org/3/library/stdtypes.html#common-sequence-operations)

> **Dictionaries**
>> Dictionaries are used to store key-value pairs and are mutable. Dictionaries are denoted by curly brackets `{}`. Like lists and tuples, dictionaries can be instantiated in multiple ways. Here are a couple of common ways:

In [0]:
im_an_empty_dict = {}
some_dict = {'one': 1, 'two': 2, 'three': 3}
print(some_dict)
use_construct = dict(one=1, two=2, three=3)
print(use_construct)

{'one': 1, 'two': 2, 'three': 3}
{'one': 1, 'two': 2, 'three': 3}

>> Dictionaries have many common operations by default. Some of the common ones are:

>> Add a new key-value pair

In [0]:
some_dict['four'] = 4
print(some_dict)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

>> Remove a pair

In [0]:
del some_dict['four']
print(some_dict)

{'one': 1, 'two': 2, 'three': 3}

>> get all keys and items

In [0]:
some_dict.keys()

dict_keys(['one', 'two', 'three'])

In [0]:
some_dict.values()

dict_values([1, 2, 3])

In [0]:
some_dict.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

>> Check if dict contains key

In [0]:
'four' in some_dict

False

In [0]:
'three' in some_dict

True

> A complete list of dictionary operations can be found [here](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict). I would like to jump back to functions again. I want to talk about some of the functions that python comes with out of the box but wanted to wait until you had some sort of idea what a method and classes are. 

> Python comes with some pretty handy functions right from the get-go. Some of my favorites are:

>> `dir([object])` - the dir function lists what methods are available to certain class/object. If you do not pass in an object, it will tell what functions are available in the current scope.

In [0]:
dir()

In [0]:
dir(some_dict)

In [0]:
dir(some_list)

>>`help()` - help is interesting as it is a little program all in itself. If you type `help()` without any arguments, it will start an interactive help console. You can also pass it a class such as `list` to get documentation for that class or pass in a class plus a method to get info on that specific method like so `list.append`

In [0]:
help(list.append)

Help on method_descriptor:

append(...)
    L.append(object) -> None -- append object to end

>> `input()` - takes an input from a user.

In [0]:
s = input("Please enter something, anything at all: ")

Please enter something, anything at all: 6

In [0]:
s

'6'

>> `map()`- map takes a function and applies that function to each value of an iterable and returns a iterator. Iterator behave differently from other sequence data types as we will see in this example:

In [0]:
import copy

print(im_a_list_of_numbers)

def crazy_math(number):
  return (number * 2 // 6)**3 % 2
  
map_iterator = map(crazy_math, im_a_list_of_numbers)

map_iterator2 = copy.deepcopy(map_iterator)

print(map_iterator)
print(list(map_iterator))
print(next(map_iterator2))
print(next(map_iterator2))
print(next(map_iterator2))

>> copy.deepcopy?

>A full list of the built-in python functions can be found [here](https://docs.python.org/3/library/functions.html#map)

**A deeper look at Strings**
> Earlier we introduced strings but did not cover any of the aspects of strings. Strings are actually a data structure like list, tuples and dictionaries. Strings are sequences of unicode code points and they are immutable. Now that we have a better understanding of methods and functions lets take a look at the mthods provided to us to use on strings.

In [0]:
short_string = "my name is Wild Westies and I am a cat and armadillo wrangler"

In [0]:
points = []
for char in short_string:
  points.append('U+{:04X}'.format(ord(char)))
  
print(points)

['U+006D', 'U+0079', 'U+0020', 'U+006E', 'U+0061', 'U+006D', 'U+0065', 'U+0020', 'U+0069', 'U+0073', 'U+0020', 'U+0057', 'U+0069', 'U+006C', 'U+0064', 'U+0020', 'U+0057', 'U+0065', 'U+0073', 'U+0074', 'U+0069', 'U+0065', 'U+0073', 'U+0020', 'U+0061', 'U+006E', 'U+0064', 'U+0020', 'U+0049', 'U+0020', 'U+0061', 'U+006D', 'U+0020', 'U+0061', 'U+0020', 'U+0063', 'U+0061', 'U+0074', 'U+0020', 'U+0061', 'U+006E', 'U+0064', 'U+0020', 'U+0061', 'U+0072', 'U+006D', 'U+0061', 'U+0064', 'U+0069', 'U+006C', 'U+006C', 'U+006F', 'U+0020', 'U+0077', 'U+0072', 'U+0061', 'U+006E', 'U+0067', 'U+006C', 'U+0065', 'U+0072']

>You can think of a string as a tuple of code points which means that it can use the common sequence operations that we talked about earlier

In [0]:
print(short_string[0])
print(short_string[12])

m
i

In [0]:
'my' in short_string

True

In [0]:
'arm' in short_string # will match substrings and is case senstive

True

> Strings also have extensive list of methods to handle a variety of situations. Some common methods are:

>Capitalizing the first letter

In [0]:
upper = short_string.capitalize() # returns a copy
print(upper)

My name is wild westies and i am a cat and armadillo wrangler

In [0]:
short_string

'my name is Wild Westies and I am a cat and armadillo wrangler'

> Convert all characters to lower case

In [0]:
upper.lower()

'my name is wild westies and i am a cat and armadillo wrangler'

> remove trailing characters

In [0]:
new_lines = "I am a line with new line and return characters\n\n\r"
print(repr(new_lines))

'I am a line with new line and return characters\n\n\r'

In [0]:
print(repr(new_lines.rstrip()))

'I am a line with new line and return characters'

> Split text based on Seporator

In [0]:
short_string.split(' ')

['my',
 'name',
 'is',
 'Wild',
 'Westies',
 'and',
 'I',
 'am',
 'a',
 'cat',
 'and',
 'armadillo',
 'wrangler']

In [0]:
commas = 'I am sentence, with unneeded, commas in it'
commas.split(',')

['I am sentence', ' with unneeded', ' commas in it']

> Format a string. This is especialy useful for debugging

In [0]:
"Pandas are {0}".format(pandas.lower())

'Pandas are funny black and white bears'

In [0]:
fav = 6
"{0} was my favorite number but now it is {1}".format(fav, 6/8)

'6 was my favorite number but now it is 0.75'

In [0]:
list_o_strings = ['We can form', ' larger sentences from', ' lists of strings.', ' By joining them together']
base = ''
base.join(list_o_strings)

'We can form larger sentences from lists of strings. By joining them together'

> Count sub string occurances

In [0]:
short_string.count('am')

2

> Find position of a substring in a string

In [0]:
short_string.find('Wild')

11

>The full list of string methods can be found [here](https://docs.python.org/3/library/stdtypes.html#string-methods)

**Control Flow**

> When writing software programs we often have the need to control the flow of execution of certain parts program based on certain conditions. Python comes with a couple different ways to do this. The following ideas are not specific to python, you will see these in most programs. But the impletation here is specific to python. 

> The first statement we are going to look at is the if verstile if statement. The basic syntax for a if statement is `if <expression>:` with the following lines indented. The code in the if statement is only executed if the expression evalutes to `True`. Lets look at an example:

In [0]:
x = 12
y = 20
if x < y:
  print("Y is large and in charge")

Y is large and in charge

> If statements can be nested within each other

In [0]:
z = 0
if x < y:
  print("Y is still large and in charge")
  if type(x) == type(z):
    print("x is smaller than y and x and y are both numbers")

Y is still large and in charge
x is smaller than y and x and y are both numbers

> If statements can have optional else statements that will execute if the expression evalutes to `False`.  To add an else statement to an if statement you add the keyword `else:` on the same 'level' as the if statement

In [0]:
if x > y:
  print("x is the greatest")
else:
  print("Y is still large and in charge")

Y is still large and in charge

In [0]:
z = "Now am a string"
if x < y:
  print("Y is still large and in charge")
  if type(x) == type(z):
    print("x is smaller than y and x and y are both numbers")
  else:
    print("we can be friends but we are not the same type")
else:
  print("Everything has failed")

Y is still large and in charge
we can be friends but we are not the same type

> In compound statements like the one above if the first condition fails then the rest of the statement does not run

In [0]:
x = 100
if x < y:
  print("Y is still large and in charge")
  if type(x) == type(z):
    print("x is smaller than y and x and y are both numbers")
  else:
    print("we can be friends but we are not the same type")
else:
  print("Everything has failed")

Everything has failed

> If statements can also have else if statements. Else if statements run if the condition above it fails and acts like an 'else' if it's expression evalute to true. An else statement is still optional when using an else if statement The syntax for an else if is `elif:`

In [0]:
if x < y:
  print("x is small again")
elif x == 100:
  print("X is 100")
elif x > y:
  print("Is is still on top")

X is 100

> The next control statement we have already seen and it is the for loop. The for loop allows us to iterate over sequence data types such as lists and tuples also known as an iterable. The syntax for a for loop is: `for <item> in <iterable>:` followed by indentation. `<item>` is just a variable that is used to hold the current value of the iterable. It can be called whatever you want but is good practice to use the singular name of what your list name is. For instance if we had the city_names list we talked about earlier we could replace `<item>` with city or name. This helps the readability of our code. Here is an example:

In [0]:
city_names = "phoenix", "boston", "las vegas", "portland", "new york", "santa fe"
for city in city_names:
  print(city.title() + " is " + str(len(city)) + " characters long")

Phoenix is 7 characters long
Boston is 6 characters long
Las Vegas is 9 characters long
Portland is 8 characters long
New York is 8 characters long
Santa Fe is 8 characters long

> Whats the deal with the str thing going on with the len function?

>>  len is a builtin function that returns the length of sequence type

In [0]:
type(len(city_names))

int

>>We are then trying to concatinate the int 6 to string which is not allowed since they are different data type. The solution is to convert or cast the int to a string data type using `str()`.  It is possible to cast between all data types. we could cast to an int by using `int()`

In [0]:
type(str(len(city_names)))

str

In [0]:
type(float(len(city_names)))

float

>Alright back to for loops. Sometimes it is useful to know the index of value in an iterable. For this we can use the `enumerate()` method.

In [0]:
for index, city in enumerate(city_names):
  print(index, city).format()

0 phoenix
1 boston
2 las vegas
3 portland
4 new york
5 santa fe

>in order to loop over a dictionary we must use a dictionary method called `items()`.

In [0]:
for key, value in some_dict.items(): # you will generally see key value written as k, v but they can anything you like
  print(key, value)

one 1
two 2
three 3

> In some cases such as game you may want to continue looping over a piece a code as long as certain conditions are true. For this python has the while loop. The syntax for the a while loop is `while <condition>:` follow by indentation. Lets take a look:

In [0]:
import random
rand_number = random.randint(1,100)
x = 1
while x < rand_number:
  print(x)
  x += 1 # incrementors and also use -,/,*

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

> An important thing to remember when using while loops is that your condition must evaluate to False at somepoint otherwise your will get an infinite loop. When using control flow statements you may want to skip over an iteration or break out of the loop altogether at some point. To do this python comes with the `break` and `continue` statements. The break statement will terminate the loop while the continue statement will skip over the current iteration.

In [0]:
x = 1
while x < rand_number:
  print(x)
  if x % 3 == 0:
    print("We are going to get a break!!")
    break
  x += 1

1
2
3
We are going to get a break!!

In [0]:
x = 1
while x < rand_number:
  if x % 3 == 0:
    print("{0} is a friend of three".format(x))
    x += random.randint(0,2)
    continue
  x += 1
  print("{0} who needs three, what a sucker".format(x))

> When using control flow statements you may want to check multiple conditions. For this python comes with logical operators that make this easy. There are logical and, or, and not.

> For an expression to evaluate to true when using an and statement all parts of the expression must be true.

In [0]:
a, b, c, d = 4, 6, 7, 8

if a < b and c < d:
  print("both are true")
  
if d < a and c < d:
  print("one of us is lying")

both are true

> When using logical or only on part of the expression needs to be true

In [0]:
if a < b or c < d:
  print("both are true")
  
if d < a or c < d:
  print("one of us is lying but its ok now")
  
if a > b or c > d:
  print("nothing is real")

both are true
one of us is lying

> Not is used to reverse the logical state of an expression.

In [0]:
not(a < b)

False